* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f807a; /*#1a73e7*/
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

  /* text*/

  .p-w {
    color: white;
    margin: auto;
  }

  .p-g {
    color: rgb(179, 184, 183);
    margin: auto;
  }

  .p-g2 {
    color: rgb(179, 184, 183);
    margin: auto;
  }

  /*footer*/

  .footer-b {
    background-color:#1a73e7 ;
    padding: 50px;
    text-align: center;
  }
  
  .footer-g {
    background-color:rgb(102, 102, 102);
    padding: 50px;
    text-align: center;
  }

  .footer-g2 {
    background-color:rgb(179, 184, 183);
    padding: 50px;
    text-align: center;
  }