* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

  /* text*/

  .p-w {
    color: white;
    margin: auto;
  }

  .p-g {
    color: rgb(179, 184, 183);
    margin: auto;
  }

  .p-g2 {
    color: rgb(179, 184, 183);
    margin: auto;
  }

  /*footer*/

  .footer-b {
    background-color:#1a73e7 ;
    padding: 50px;
    text-align: center;
  }
  
  .footer-g {
    background-color:rgb(102, 102, 102);
    padding: 50px;
    text-align: center;
  }

  .footer-g2 {
    background-color:rgb(179, 184, 183);
    padding: 50px;
    text-align: center;
  }

  /*navbar2*/